$primary-colour: rgb(201, 40, 40);
$secondary-colour: rgb(255, 255, 255);

$hover-primary-colour: rgb(222, 222, 222);

$calculator-primary-colour: rgba(255, 255, 255, 0.8);
$calculator-button-colour-active: rgb(98, 211, 219);
$calculator-button-border-colour: rgba(0, 0, 0, 0.8);

$custom-button-colour-1: black;
$custom-button-colour-2: red;
$custom-button-colour-3: blue;
$custom-button-colour-4: yellow;
$custom-button-colour-5: white;