$primary-font: 'Roboto', sans-serif;

$impact-font: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$georgia-font: Georgia, 'Times New Roman', Times, serif;
$verdana-font: Verdana, Geneva, Tahoma, sans-serif;