@import "../../../Sass/Imports/Colours/colours.scss";
@import "../../../Sass/Imports/Fonts/fonts.scss";
@import "../../../Sass/Imports/Mixins/mixins.scss";

.calculator-container {
    @include display-margin-center;
    width: 50%;
    margin-top: -100vh;
    text-align: center;
}

.calculator-display {
    display: grid;
    grid-template-areas: 
        'calculator-display-header'
        'calculator-display-body'
        'calculator-display-body'
        'calculator-display-body'
        'calculator-display-body';
        grid-gap: 10px;
        padding: 10px;
        background-color: $calculator-button-border-colour;
}

.calculator-display > div {
    text-align: center;
    font-size: 30px;
    padding: 0px 0;
    background-color: $calculator-primary-colour;
}

.calculator-display-body {
    width: 50%;
    display: grid;
    grid-template-columns: auto auto auto 20%;
    margin-left: 25%;
    padding: 10px;
}

.calculator-display button {
    border: 1px solid $calculator-button-border-colour;
    padding: 20% 10%;
    font-size: 30px;
    text-align: center;
}

button {
    cursor: pointer;
}

button:active {
    background-color: $calculator-button-colour-active;
}

@media(max-width: 1000px) {
    .calculator-container {
        margin-top: 100px;
    }
}